---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign pub_count = site.publications.size %}

<div style="font-size: 0.9em;">
{% for post in site.publications reversed %}
  <p style="margin-bottom: 15px;">
    <strong>{{ pub_count }}.</strong> 
    {{ post.citation | markdownify | remove: '<p>' | remove: '</p>' }}
    {% if post.paperurl %}
       <a href="{{ post.paperurl }}"><b>[Link]</b></a>
    {% endif %}
  </p>
  {% assign pub_count = pub_count | minus: 1 %}
{% endfor %}
</div>
